<h1>My Friends</h1>
<% @friends.each do |friend| %>
  <p>
    <%= render partial: 'layouts/pic_display', locals: { user: friend } %>
    <%= link_to friend.name, show_friend_user_path(current_user.id, friend_id: friend.id) %>
  </p>
<% end %>

